/*
body {
  font-family: "Nanum Pen Script", cursive;
}
*/

p.p-weight {
  font-weight: 900;
}

p.p-font-size {
  font-size: 2.4em;
}

p.p-align-right {
  word-break: keep-all;
}

p.p-align {
  word-break: break-all;
  text-align: justify;
}