/*
body {
  font-family: "Nanum Pen Script", cursive;
}
*/

/* Box Model */
div.box-pad-1 {
  padding: 10px 20px 30px 40px;
}
div.box-mar-1 {
  margin: 10px 20px 30px 40px;
}
div.box {
  background-color: #00de00;
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
}

/* Text Model */
h1 {
  font-size: 40px;
  font-family: serif;
  letter-spacing: -0.05em;
  word-spacing: 0.1em;
}

p {
  line-height: 1.8em;
}

p.p-weight {
  font-weight: 900;
}

p.p-font-size {
  font-size: 2.4em;
}

p.p-align-right {
  word-break: keep-all;
}

p.p-align {
  word-break: break-all;
  text-align: justify;
}